
bin/Release/netcoreapp3.1/DeployApplicationMinukeTest.runtimeconfig.json
bin/Release/netcoreapp3.1/DeployApplicationMinukeTest.runtimeconfig.dev.json
bin/Release/netcoreapp3.1/DeployApplicationMinukeTest.pdb
bin/Release/netcoreapp3.1/DeployApplicationMinukeTest.exe
bin/Release/netcoreapp3.1/DeployApplicationMinukeTest.dll
bin/Release/netcoreapp3.1/DeployApplicationMinukeTest.deps.json
bin/Release/netcoreapp3.1/appsettings.json
bin/Release/netcoreapp3.1/appsettings.Development.json
bin/Debug/netcoreapp3.1/DeployApplicationMinukeTest.StaticWebAssets.xml
bin/Debug/netcoreapp3.1/DeployApplicationMinukeTest.runtimeconfig.json
bin/Debug/netcoreapp3.1/DeployApplicationMinukeTest.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/DeployApplicationMinukeTest.pdb
bin/Debug/netcoreapp3.1/DeployApplicationMinukeTest.exe
bin/Debug/netcoreapp3.1/DeployApplicationMinukeTest.dll
bin/Debug/netcoreapp3.1/DeployApplicationMinukeTest.deps.json
bin/Debug/netcoreapp3.1/appsettings.json
bin/Debug/netcoreapp3.1/appsettings.Development.json
obj/Container/AbsoluteOutputAssemblyPath.cache
obj/Container/AdditionalProbingPaths.cache
obj/Container/ContainerCreationResult.cache
obj/Container/ContainerDevelopmentMode.cache
obj/Container/ContainerId.cache
obj/Container/ContainerName.cache
obj/Container/ContainerOperatingSystemFlavor.cache
obj/Container/ContainerRunContext.cache
obj/Container/DebuggeeArguments.cache
obj/Container/DebuggeeKillProcessCommand.cache
obj/Container/DebuggeeProgram.cache
obj/Container/DebuggeeWorkingDirectory.cache
obj/Container/FastModeProjectMountDirectory.cache
obj/Container/ImageBuildContext.cache
obj/Container/ImageId.cache
obj/Container/OperatingSystemName.cache
obj/Container/TargetFramework.cache
obj/Container/VsDbgScript.cache
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/apphost.exe
obj/Debug/netcoreapp3.1/DeployApplicationMinikubeTest.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/DeployApplicationMinikubeTest.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/DeployApplicationMinikubeTest.assets.cache
obj/Debug/netcoreapp3.1/DeployApplicationMinikubeTest.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/DeployApplicationMinikubeTest.RazorTargetAssemblyInfo.cache
obj/Debug/netcoreapp3.1/DeployApplicationMinukeTest.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/DeployApplicationMinukeTest.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/DeployApplicationMinukeTest.assets.cache
obj/Debug/netcoreapp3.1/DeployApplicationMinukeTest.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/DeployApplicationMinukeTest.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/DeployApplicationMinukeTest.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/DeployApplicationMinukeTest.dll
obj/Debug/netcoreapp3.1/DeployApplicationMinukeTest.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/DeployApplicationMinukeTest.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/netcoreapp3.1/DeployApplicationMinukeTest.pdb
obj/Debug/netcoreapp3.1/DeployApplicationMinukeTest.RazorTargetAssemblyInfo.cache
obj/Debug/netcoreapp3.1/staticwebassets/DeployApplicationMinikubeTest.StaticWebAssets.Manifest.cache
obj/Debug/netcoreapp3.1/staticwebassets/DeployApplicationMinikubeTest.StaticWebAssets.xml
obj/Debug/netcoreapp3.1/staticwebassets/DeployApplicationMinukeTest.StaticWebAssets.Manifest.cache
obj/Debug/netcoreapp3.1/staticwebassets/DeployApplicationMinukeTest.StaticWebAssets.xml
obj/DeployApplicationMinikubeTest.csproj.nuget.dgspec.json
obj/DeployApplicationMinikubeTest.csproj.nuget.g.props
obj/DeployApplicationMinikubeTest.csproj.nuget.g.targets
obj/DeployApplicationMinukeTest.csproj.nuget.dgspec.json
obj/DeployApplicationMinukeTest.csproj.nuget.g.props
obj/DeployApplicationMinukeTest.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Release/netcoreapp3.1/apphost.exe
obj/Release/netcoreapp3.1/DeployApplicationMinukeTest.AssemblyInfo.cs
obj/Release/netcoreapp3.1/DeployApplicationMinukeTest.AssemblyInfoInputs.cache
obj/Release/netcoreapp3.1/DeployApplicationMinukeTest.assets.cache
obj/Release/netcoreapp3.1/DeployApplicationMinukeTest.csproj.CoreCompileInputs.cache
obj/Release/netcoreapp3.1/DeployApplicationMinukeTest.csproj.FileListAbsolute.txt
obj/Release/netcoreapp3.1/DeployApplicationMinukeTest.dll
obj/Release/netcoreapp3.1/DeployApplicationMinukeTest.genruntimeconfig.cache
obj/Release/netcoreapp3.1/DeployApplicationMinukeTest.MvcApplicationPartsAssemblyInfo.cache
obj/Release/netcoreapp3.1/DeployApplicationMinukeTest.pdb
obj/Release/netcoreapp3.1/DeployApplicationMinukeTest.RazorTargetAssemblyInfo.cache
obj/Release/netcoreapp3.1/staticwebassets/DeployApplicationMinukeTest.StaticWebAssets.Manifest.cache
obj/Release/netcoreapp3.1/staticwebassets/DeployApplicationMinukeTest.StaticWebAssets.xml
